.show-image-qrCode {
  width: 100%;
}

.error-download {
    height : 122px;
    overflow-y: auto;
}

.loading-download {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);

    .loading-spin {
        width: 50px;
        height: 50px
    }
}

.show-spin {
    background: rgb(0 0 0 / 10%);
}
