body.fixed-header .header {
    z-index: 1051;
    background: #fff;
    border-bottom: 1px solid rgba(234, 236, 238, 0.7);
}

.menu-items {
    li {
        line-height: 0;
    }
}

@media (max-width: 991px) {
    .page-sidebar{
        transform: translate3d(-250px, 0, 0) !important;
        -ms-transform: translate(-250px, 0) !important;
        -webkit-transition: all 0.2s ease 0s;
    }


    body.sidebar-open .page-sidebar {
        transform: translate3d(210px, 0, 0) !important;
        -ms-transform: translate(210px, 0) !important;
        -webkit-transition: all 0.2s ease 0s;
    }

    .pin-menu-item{
        display: none !important;
    }
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
    padding: 5px 0 0 0;
    margin-bottom: 0;
}

.item-selected {
    color: white !important;
    > a > span{
        color: white !important;
    }
    > span {
        color: white !important;
    }
    > a {
        color: white !important;
    }
    background: transparent linear-gradient(270deg, $main_color_gradient_start 0%, $main_color_gradient_end 100%) 0 0 no-repeat padding-box !important;
    opacity: 1;
}

.menu-items > li:hover {
    color: white !important;
    background: transparent linear-gradient(270deg, $main_color_gradient_start 0%, $main_color_gradient_end 100%) 0 0 no-repeat padding-box;
    opacity: 1;
}

.sub-menu > li:hover {
    color: white !important;
    background: transparent linear-gradient(270deg, $main_color_gradient_start 0%, $main_color_gradient_end 100%) 0 0 no-repeat padding-box !important;
    opacity: 1;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail {
    background-color: transparent;
}

.menu-items > li:hover > a > span {
    color: white !important;
}

.sub-menu > li:hover > a > span {
    color: white !important;
}

.page-sidebar .sidebar-menu .menu-items > li > a {
    //padding-right: 40px;
    //width: 100%;
    font-size: 12px;
}

.page-sidebar .sidebar-menu .menu-items > li:first-child {
    border-top: 1px solid #F5F5F5;
}

.page-sidebar .sidebar-menu .menu-items > li {
    border-bottom: 1px solid #F5F5F5;
}

.page-sidebar .sidebar-menu .menu-items > li > a.detailed > .title {
    line-height: 43px;
}

.page-sidebar {
    .menu__sub-item {
        line-height: 30px;

        span {
            color: $main_text_color;
        }
    }
}

.page-sidebar {
    .sidebar-menu {
        .menu-items {
            & > li {
                & > a {
                    padding-left: 25px;
                    &> .title {
                        width: calc(100% - 15px);
                    }

                    &> .arrow {
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    .item-selected {
        a {
            color: white;
        }

        .icon-thumbnail {
            color: white;
        }
    }

    a {
        color: $main_text_color;
    }

    .icon-thumbnail {
        color: $main_text_color;
    }

    .icon-thumbnail {
        //right: 0;
        //float: left;
        //margin-left: 13px;
        //margin-right: 0;
        //margin-top: 3px;
        background: transparent;
        //position: absolute;
    }

    .sub-menu {
        .icon-thumbnail {
            background-color: transparent;
            margin-top: 5px !important;
            color: $main_text_color;
        }
    }
}

body .pin-menu-custom {
    transform: rotate(90deg) !important;
}

body.sidebar-visible .pin-menu-custom {
    transform: translate3d(-14px, 0, 0) rotate(90deg) !important;
}

[data-toggle-pin="sidebar"] > i:before {
    content: "\F08D";
}

body.menu-pin .pin-menu-custom {
    transform: translate3d(-14px, 0, 0) !important;
}

body.menu-pin [data-toggle-pin="sidebar"] > i:before {
    content: "\F08D";
}

.page-sidebar{
    a:hover{
        text-decoration:none;
    }
}